@import 'tailwindcss';

@plugin '@headlessui/tailwindcss';

@theme {
	--color-body: rgb(36, 40, 47);
	--color-footer: rgb(22, 25, 29);
}

body {
	font-family: var(--font-anek);
	@apply bg-body overflow-x-hidden font-normal;
}

h1,
h2 {
	font-family: var(--font-poppins);
	@apply font-medium;
}

.floating-button {
	@apply border-body fixed bottom-6 cursor-pointer rounded-md border bg-white px-4 py-3 shadow;
}
