@import 'tailwindcss';

@plugin '@headlessui/tailwindcss';

@theme {
  --color-body: rgb(36, 40, 47);
  --color-footer: rgb(22, 25, 29);

  --min-height-layout: calc(100vh - 36px);
}

body {
	font-family: var(--font-anek);
	@apply overflow-x-hidden bg-body font-normal;
}

h1,
h2 {
	font-family: var(--font-poppins);
	@apply font-medium;
}
